# Make sure that requests for RSS files are handled
AddType application/x-httpd-php .rss

Redirect permanent "/resources/podcasts/Bartlett-Blewitt-OSGi-05Mar07.mp3" http:/downloads/download.php?r=1&file=/technology/phoenix/podcasts/Bartlett-Blewitt-OSGi-05Mar07.mp3
